.oxanium {
    font-family: "Oxanium", sans-serif, monospace;
    font-optical-sizing: auto;
    font-weight: 700; 
    font-style: normal;
}
p{
    display: flex;
    justify-content: center;
}
.bold{
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
    color: rgb(0, 196, 196);
    text-shadow: 2px 2px 5px grey;
    text-decoration: underline;
    text-decoration-color: rgb(0, 196, 196);
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 1.5;
    text-align: center;
    text-indent: 10px;
    text-align-last: center;
    text-justify: inter-word;
    text-wrap: balance;
    text-overflow: ellipsis;
    text-decoration-style: solid;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    text-decoration-skip: objects;
    text-decoration-fill-color: rgb(0, 196, 196);
    text-decoration-thickness: 5px;
    text-decoration-color: rgb(0, 196, 196);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none; 
}

*{
    background-color: burlywood;
    font-family: "Oxanium", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: rgb(0, 98, 98);
    text-shadow: 2px 2px 5px grey;
    text-decoration: none;
    text-decoration-color: rgb(0, 196, 196);
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 1.5;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-weight: 700;
    font-style: normal;
    color: rgb(0, 196, 196);
    text-shadow: 2px 2px 5px grey;
    text-decoration: underline;
    text-decoration-color: rgb(0, 196, 196);
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 1.5;
    text-align: center;
    text-indent: 10px;
    text-align-last: center;
    text-justify: inter-word;
    text-wrap: balance;
}

img{
    border: 10px solid rgb(0, 196, 196);
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
    width: 50%;
    height: 500%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out;
}
img:hover {
    transform: scale(1.1);
    box-shadow: 20px 20px 10px grey;
    border-color: rgb(0, 220, 220);
}