.oxanium {
    font-family: "Oxanium", sans-serif, monospace;
    font-optical-sizing: auto;
    font-weight: 700; 
    font-style: normal;
}

*{
    background-color: rgb(231, 216, 130);
    font-family: "Oxanium", system-ui;
    font-weight: 400;
    font-size: 20px;
    color: rgb(0, 75, 98);
    text-shadow: 4px 4px 10px rgb(156, 0, 0);
    text-decoration: none;
    text-decoration-color: rgb(0, 46, 196);
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 1.5;
}

p{
    font-size: 40px;
    font-weight: 100;
}

.format{
    font-weight: bold;
    font-size: 50px;
    color: rgb(0, 124, 196);
    text-shadow: 4px 4px 10px rgb(145, 85, 85);
    text-decoration: underline;
    text-decoration-color: rgb(0, 82, 189);
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 1.5;
    text-align: center;
    text-indent: 10px;
    text-align-last: center;
    text-justify: inter-word;
    text-wrap: balance;
    text-overflow: ellipsis;
    text-decoration-style: solid;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 5px;
    text-decoration-color: rgb(0, 85, 196);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none; 
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 150px;
    font-weight: 700;
    color: rgb(37, 100, 235);
    text-shadow: 2px 2px 5px rgb(255, 77, 77);
    text-decoration: underline;
    text-decoration-color: rgb(0, 142, 185);
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 1.5;
    text-align: center;
    text-indent: 10px;
    text-align-last: center;
    text-justify: inter-word;
    text-wrap: balance;
}

img{
    border: 10px solid rgb(255, 47, 47);
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(129, 35, 35);
    width: 40%;
    height: 400%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out;
    justify-content: center;
}

img:hover {
    transform: scale(1.1);
    box-shadow: 20px 20px 10px rgb(77, 23, 16);
    border-color: rgb(255, 30, 0);
    justify-content: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    font-size: 40px;
    font-weight: 100;
}